<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- ========== CSS ========== -->
    <link rel="stylesheet" href="/css/styles.css">

    <!-- ========== ICON ========== -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <title>ToDoList - Categories</title>
</head>
<body>
<nav class="sidebar">
    <header>
        <div class="image-text">
                <span class="image">
                    <img src="/assets/logo.png" alt="logo">
                </span>
            <div class="text header-text">
                <span class="name">ToDoList</span>
            </div>
        </div>
    </header>

    <div class="menu-bar">
        <div class="menu">
            <ul class="menu-links">
                <li class="nav-link">
                    <a href="/">
                        <i class='bx bx-home-alt icon'></i>
                        <span class="text nav-text">Dashboard</span>
                    </a>
                </li>
                <li class="nav-link">
                    <a href="/createtask">
                        <i class='bx bx-task icon'></i>
                        <span class="text nav-text">Create Task</span>
                    </a>
                </li>
                <li class="nav-link">
                    <a href="/category">
                        <i class='bx bx-category-alt icon'></i>
                        <span class="text nav-text">Category</span>
                    </a>
                </li>
                <li class="nav-link">
                    <a href="/statistic">
                        <i class='bx bx-stats icon'></i>
                        <span class="text nav-text">Statistics</span>
                    </a>
                </li>
                <li class="nav-link">
                    <a href="/notification">
                        <i class='bx bx-notification icon'></i>
                        <span class="text nav-text">Notifications</span>
                    </a>
                </li>
            </ul>
        </div>

        <div class="bottom-content">
            <li class="mode">
                <div class="moon-sun">
                    <i class='bx bx-moon icon moon'></i>
                    <i class='bx bx-sun icon sun'></i>
                </div>
                <span class="mode-text text">Dark Mode</span>
                <div class="toggle-switch">
                    <span class="switch"></span>
                </div>
            </li>
        </div>
    </div>
</nav>

<section class="home">
    <div class="text">Categories</div>
    <div class="containercategory">
        <div class="header-options">
            <a href="/category/create" class="btn-create-category">
                <i class='bx bx-plus'></i> Create Category
            </a>
        </div>
        <div class="category-container">
            <!-- Box untuk setiap kategori -->
            <div th:each="category : ${categories}" class="category-box">
                <h3>
                    <a th:href="@{/category/{id}/tasks(id=${category.id})}" th:text="${category.name}">Category Name</a>
                </h3>
                <p><strong>Number of Tasks:</strong> <span th:text="${category.tasks.size()}">0</span></p>

                <!-- Pop-up menu for edit and remove options -->
                <div class="category-popup">
                    <a th:href="@{/category/addtask/{id}(id=${category.id})}" class="popup-addtask" title="Add Task">
                        <i class='bx bx-add-to-queue'></i> Add Task
                    </a>
                    <a th:href="@{/editcategory/{id}(id=${category.id})}" class="popup-edit" title="Edit">
                        <i class='bx bx-edit'></i> Edit
                    </a>
                    <a th:href="@{/deletecategory/{id}(id=${category.id})}" class="popup-remove" title="Remove">
                        <i class='bx bx-trash'></i> Remove
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="/js/script.js"></script>
</body>
</html>
