<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- ========== CSS ========== -->
  <link rel="stylesheet" href="/css/styles.css">

  <!-- ========== ICON ========== -->
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

  <title>ToDoList - Dashboard</title>
</head>
<body>
<nav class="sidebar">
  <header>
    <div class="image-text">
                <span class="image">
                    <img src="/assets/logo.png" alt="logo">
                </span>
      <div class="text header-text">
        <span class="name">ToDoList</span>
      </div>
    </div>
  </header>

  <div class="menu-bar">
    <div class="menu">
      <ul class="menu-links">
        <li class="nav-link">
          <a href="/">
            <i class='bx bx-home-alt icon'></i>
            <span class="text nav-text">Dashboard</span>
          </a>
        </li>
        <li class="nav-link">
          <a href="/createtask">
            <i class='bx bx-task icon'></i>
            <span class="text nav-text">Create Task</span>
          </a>
        </li>
        <li class="nav-link">
          <a href="/category">
            <i class='bx bx-category-alt icon'></i>
            <span class="text nav-text">Category</span>
          </a>
        </li>
        <li class="nav-link">
          <a href="/statistic">
            <i class='bx bx-stats icon'></i>
            <span class="text nav-text">Statistics</span>
          </a>
        </li>
        <li class="nav-link">
          <a href="/notification">
            <i class='bx bx-notification icon'></i>
            <span class="text nav-text">Notifications</span>
          </a>
        </li>
      </ul>
    </div>

    <div class="bottom-content">
      <li class="mode">
        <div class="moon-sun">
          <i class='bx bx-moon icon moon'></i>
          <i class='bx bx-sun icon sun'></i>
        </div>
        <span class="mode-text text">Dark Mode</span>
        <div class="toggle-switch">
          <span class="switch"></span>
        </div>
      </li>
    </div>
  </div>
</nav>

<section class="home">
  <div class="text">Timeline</div>
  <div class="container">
    <div class="actions">
      <div class="view-options">
        <a th:href="@{/timeline(showCompleted=false)}"
           class="btn"
           th:classappend="${!showCompleted ? 'btn-active' : ''}">
          Active Tasks
        </a>
        <a th:href="@{/timeline(showCompleted=true)}"
           class="btn"
           th:classappend="${showCompleted ? 'btn-active' : ''}">
          All Tasks
        </a>
      </div>
    </div>
    <div class="timeline-container">
      <div th:each="entry : ${tasksByDate}">
        <div class="timeline-date">
          <h4 th:text="${#temporals.format(entry.key, 'EEEE, dd MMMM yyyy')}">Date</h4>
        </div>
        <div class="timeline-box" th:each="task : ${entry.value}">
          <div>
            <div class="timeline-header">
              <h4>
                <span th:text="${task.title}">Task Title</span>
                <span th:text="' • ' + ${task.priority}"
                      th:classappend="${task.priority == 'High' ? 'high-priority' : (task.priority == 'Medium' ? 'medium-priority' : 'low-priority')}">
              </span>
              </h4>
            </div>
            <div class="timeline-content">
              <div class="timeline-task">
                <div class="timeline-taskname">
                  <p th:text="${task.description}">Description</p>
                  <p><strong>Last Update:</strong> <span th:text="${task.status.lastUpdated}">Last Update</span></p>
                </div>
              </div>
            </div>
          </div>
          <div style="width: 40%; padding: 5px; margin-left: auto; display: flex; flex-direction: row; justify-content: end; align-items: start; gap: 4px">
            <a th:href="@{/edittask/{id}(id=${task.id})}" style="width: 100%" class="popup-edit" title="Edit">
              <i class='bx bx-edit'></i> Edit
            </a>
            <a th:href="@{/delete/{id}(id=${task.id})}" style="width: 100%" class="popup-remove" title="Remove">
              <i class='bx bx-trash'></i> Delete
            </a>
          </div>
          <div class="status-form">
            <form th:action="@{/update-status/{id}(id=${task.id}, showCompleted=${showCompleted})}" method="post">
              <label>
                <select name="status" class="status" onchange="this.form.submit()">
                  <option th:value="NOT_STARTED" th:selected="${task.status.name == 'NOT_STARTED'}">Not Started</option>
                  <option th:value="ON_PROGRESS" th:selected="${task.status.name == 'ON_PROGRESS'}">On Progress</option>
                  <option th:value="COMPLETED" th:selected="${task.status.name == 'COMPLETED'}">Completed</option>
                </select>
              </label>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<script src="/js/script.js"></script>
</body>
</html>
